[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tables = "*"
numpy = "*"
scipy = "*"
matplotlib = "*"
ase = "*"
pillow = "*"
pandas = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
